---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";

const name = "About";
---

<MainLayout title="About Page">
  <h1>{name}</h1>
  <CustomTitle title=`Custom title: ${name}` />
</MainLayout>

<style is:global>
  h1 {
    color: red;
  }
</style>
