---
import MainLayout from "../layouts/MainLayout.astro";

const name = "José Alfonso Suárez Moreno";
const title = "Home Page";
---

<MainLayout title="Home Page">
  <h1>{name}</h1>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual:</p>

  <script>
    const currentTimeParagraph = document.querySelector(
      "#current-time"
    ) as HTMLParagraphElement;

    currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
